.title{
    font-size: 100px;
    text-align: center;
}

.welc_page_title{
    font-size : 100px;
    text-decoration : none;
    width : 100%;
    color : black;
}

.welc_page_title:hover{
    font-size : 125px;
    color : black;
}

.welc_page_middot{
    font-size : 250px;
    color : black;
}
