<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='cours.css') }}">
</head>
<body>
  <h1 class="title"><u>Chapitre 4 : Applications de la dérivation</u></h1>
  <h2 class="red_subtitle">I) Etude des variations d'une fonction</h2>
  <br><span class="red_text">Définitions :</span>
  <br><span class="text">Soit f une fonction définie sur un interval I.</span>
  <ul>
    <li>Si &forall;(u,v)&isin;I<sup>2</sup> tel que u < v on a f(u) < f(v), on dit que f est <span class="red_text">strictement croissante</span> sur I</li>
    <li>Si &forall;(u,v)&isin;I<sup>2</sup> tel que u < v on a f(u) > f(v), on dit que f est <span class="red_text">strictement décroissante</span> sur I</li>
    <li>Si &forall;(u,v)&isin;I<sup>2</sup> tel que u < v on a f(u) = f(v), on dit que f est <span class="red_text">constante</span> sur I</li>
  </ul>
  <span class="red_text">Sens de la variation et signe de la dérivée :</span>
  <br><span class="text">Soit f une fonction dérivable sur un interval I</span>
  <ul>
    <li>Si f' est strictement positive sur I, sauf en des valeurs isolées de x où f'(x) = 0, alors f est strictement croissante sur I</li>
    <li>Si f' est strictement négative sur I, sauf en des valeurs isolées de x où f'(x) = 0, alors f est strictement décroissante sur I</li>
    <li>Si f' est nulle sur I, alors f est constante sur I</li>
  </ul>
  <h2 class="red_subtitle">II)Extemum, extremum local d'une fonction</h2>
  <span class="red_text">Définitions :</span>
  <br><span class="text">Soit f une fonction définie sur un interval I et x</span><span class="annotation">0</span><span class="text">&isin;I</span>
  <ul>
    <li>f(x<span class="annotation">0</span>) est le <span class="red_text">maximum</span> de f sur I <=>&forall;x&isin;I, f(x)&#x2264;f(x<span class="annotation">0</span>)</li>
    <li>f(x<span class="annotation">0</span>) est le <span class="red_text">minimum</span> de f sur I <=>&forall;x&isin;I, f(x)&#x2265;f(x<span class="annotation">0</span>)</li>
    <li>Lorsque x<span class="annotation">0</span> n'est pas une borne de I, on dit que f admet un <span class="red_text">maximum local</span> en x<span class="annotation">0</span> s'il existe un interval ouvert J inclus dans I et contenant x<span class="annotation">0</span> pour lequel : &forall;x&isin;J, f(x)&#x2264;f(x<span class="annotation">0</span>)</li>
    <li>Lorsque x<span class="annotation">0</span> n'est pas une borne de I, on dit que f admet un <span class="red_text">minimum local</span> en x<span class="annotation">0</span> s'il existe un interval ouvert J inclus dans I et contenant x<span class="annotation">0</span> pour lequel : &forall;x&isin;J, f(x)&#x2265;f(x<span class="annotation">0</span>)</li>
  </ul>
  <span class="red_text">Extremum et dérivée :</span>
</body>
</html>