<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='cours.css') }}">
</head>
<body>
 <h1 class = "title"><u>Chapitre 1 : Suites numériques</u></h1>
 <h2 class = "red_subtitle"><u>Définition :</u></h2>
  <ul>
  <li><span>Une suite est une fonction u : I &#10141; &Ropf; avec I&SubsetEqual;&Ropf;</span></li>
  <li><span>L'image de n par la fonction u est noté u</span><span class = "annotation">n</span><span> ou u(n)</span></li>
  <li><span>On dit que u</span><span class = "annotation">n</span><span> est le <u><strong>terme d'indice</strong></u> n de la suite</span></li>
  <p></p>
  <li><span>Si le premier terme de la suite est U</span><span class = "annotation">0</span><span>,alors U</span><span class = "annotation">n</span><span> est le (n+1)-ième terme de la suite</span></li>
  <li><span>Si le premier terme de la suite est U</span><span class = "annotation">1</span><span>,alors U</span><span class = "annotation">n</span><span> est le n-ième terme de la suite</span></li>
  </ul>
 <h2 class = "red_subtitle"><u>Définir une suite :</u></h2>
 <span class = "text">Une suite est généralement définie :</span>
  <ul>
  <li><span class = "text">Soit par une relation du type : U</span><span class = "annotation">n</span><span>=f(n)</span></li>
  <li><span class = "text">Soit par son premier terme (U</span><span class = "annotation">p</span><span>) et une <u><strong>relation de récurence</strong></u> : U</span><span class = "annotation">n+1</span><span>=f(U</span><span class = "annotation">n</span><span class = "text">)</span></li>
  </ul>
 <h2 class = "red_subtitle"><u>Sens de variation d'une suite :</u></h2>
  <ul>
  <li><span>Une suite est strictement croissante si &forall;n, U</span><span class = "annotation">n</span> < U<span class = "annotation">n+1</span></li>
  <li><span>Une suite est strictement décroissante si &forall;n, U</span><span class = "annotation">n</span> > U<span class = "annotation">n+1</span></li>
  </ul>
 <h2 class = "red_subtitle"><u>I)Suite arithmétique :</u></h2>
  <ul>
  <li><span>Une <u><strong>suite arithmétique</strong></u> est une suite définie par : U</span><span class = "annotation">p</span> et U</span><span class = "annotation">n+1</span><span> = U</span><span class = "annotation">n</span><span>+r</span>
  <p></p><span><=>Une suite est <strong><u>arithmétique</u></strong> si est seulement si U</span><span class = "annotation">n+1</span><span>-U</span><span class = "annotation">n</span><span> = r, r étant une constante.</span>
  </li><li>
  <span>Soit (U</span><span class = "annotation">n</span><span>), une suite arithmétique de raison r et de premier terme p : U</span><span class = "annotation">n</span><span> = U</span><span class = "annotation">p</span><span>+(n-p)r</span>
  </li><li>
  <span>Les formules donnant U</span><span class = "annotation">n</span><span> en fonction de n sont celles de fonctions affines de coefficient directeur r</span>
  </li>
  </ul>
</body>
</html>

