<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='cours.css') }}">
</head>
<body>
  <h1 class = "title"><u>Chapitre 1 : Suites numériques</u></h1>
  <h2 class = "red_subtitle"><u>Définition :</u></h2>
    <ul>
      <li>Une suite est une fonction U : I &#10141; &Ropf; avec I&SubsetEqual;&Ropf;</li>
      <li>L'image de n par la fonction U est noté U<span class = "annotation">n</span> ou U(n)</li>
      <li>On dit que U<span class = "annotation">n</span> est le <u><strong>terme d'indice</strong></u> n de la suite</li>
    <br>
      <li>Si le premier terme de la suite est U<span class = "annotation">0</span>,alors U<span class = "annotation">n</span> est le (n+1)-ième terme de la suite</li>
      <li>Si le premier terme de la suite est U<span class = "annotation">1</span>,alors U<span class = "annotation">n</span> est le n-ième terme de la suite</li>
    </ul>
  <h2 class = "red_subtitle"><u>Définir une suite :</u></h2>
    <span class = "text">Une suite est généralement définie :</span>
    <ul>
      <li>Soit par une relation du type : U<span class = "annotation">n</span>=f(n)</li>
      <li>Soit par son premier terme (U<span class = "annotation">p</span>) et une <u><strong>relation de récurence</strong></u> : U<span class = "annotation">n+1</span>=f(U<span class = "annotation">n</span>)</li>
    </ul>
  <h2 class = "red_subtitle"><u>Sens de variation d'une suite :</u></h2>
    <ul>
      <li>Une suite est strictement croissante si &forall;n, U<span class = "annotation">n</span> < U<span class = "annotation">n+1</span></li>
      <li>Une suite est strictement décroissante si &forall;n, U<span class = "annotation">n</span> > U<span class = "annotation">n+1</span></li>
    </ul>
  <h2 class = "red_subtitle"><u>I)Suite arithmétique :</u></h2>
    <ul>
    <li>
      Une <u><strong>suite arithmétique</strong></u> est une suite définie par : U<span class = "annotation">p</span> et U<span class = "annotation">n+1</span> = U<span class = "annotation">n</span>+r où r est appelé <strong><u>raison</u></strong> de la suite
      <br>&hArr;Une suite est <strong><u>arithmétique</u></strong> si est seulement si U<span class = "annotation">n+1</span>-U<span class = "annotation">n</span> = r, r étant une constante.
    </li><li>
      Soit (U<span class = "annotation">n</span>), une suite arithmétique de raison r et de premier terme p : U<span class = "annotation">n</span> = U<span class = "annotation">p</span>+(n-p)r
    </li><li>
      Les formules donnant U<span class = "annotation">n</span> en fonction de n sont celles de fonctions affines de coefficient directeur r
    </li><li>
      Soit (U<span class = "annotation">n</span>) une sutie arithmétique de raison r :
      <br>-r > 0 &hArr; (U<span class = "annotation">n</span>) est strictement croissante
      <br>-r < 0 &hArr;	(U<span class = "annotation">n</span>) est strictement décroissante
      <br>-Tout les points de coordonées (n;U<span class ="annotation">n</span>) sont alignés
    </li><li>
      Soit (U<span class = "annotation">n</span>) une suite arithmétique de raison r. Notons S<span class = "annotation">n</span>la somme de tout les membres d'indice inférieur ou égal à n alors :
      <br>S<span class = "annotation">n</span>= (n-p+1)<math><mfrac><mi>(Up + Un)</mi><mi>2</mi></mfrac></math>
    </li>
    </ul>
  <h2 class = "red_subtitle"><u>II)Suite géométrique :</u></h2>
    <ul>
      <li>Une <u><strong>suite géométrique</strong></u> est une suite définie par : V<span class = "annotation">p</span> et V<span class = "annotation">n+1</span> = V<span class = "annotation">n &#x2716; </span>r où r est appelé <strong><u>raison</u></strong> de la suite 
      <br>&hArr;Une suite dont tout les termes sont non-nuls est <strong><u>géométrique</u></strong> si est seulement si <math><mfrac><mi>Vn+1</mi><mi>Vn</mi></mfrac></math> = r, r étant une constante.
    </li><li>
      Soit V<span class = "annotation">n</span>, une <strong><u>suite géométrique</u></strong> de raison r et de premier terme p : V<span class = "annotation">n</span> = V<span class = "annotation">p &#x2716; </span>r<sup>n-p</sup>
    </li><li>
      La suite géométrique (V<span class ="annotation">n</span>) de raison r est strictement croissante &hArr; r > 1
      <br>La suite géométrique (V<span class = "annotation">n</span>) de raison r est strictement décroissante &hArr; r &isin; ]0;1[
    </li><li>
      Une suite géométrique de raison r > 0 a une croissante ou décroissante est dites exponentielle
    </li><li>
      Soit (V<span class = "annotation">n</span>) une suite géométrique de raison r &ne; 1 et de premier terme p. Notons S<span class = "annotation">n</span> la somme de tout les termes d'indice &le; n alors :
      <br>S<span class = "annotation">n</span> = <math><mfrac><mi>1-q^(n+1)</mi><mi>1-q</mi></mfrac></math>
    </li>
    <a href="/exercices/premiere/suites_numeriques">Exercices</a>
    </ul>
</body>
</html>