<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='cours.css') }}">
</head>
<body>
 <h1 class = "title"><u>Chapitre 3 : Dérivation</u></h1>
 <h2 class="red_subtitle">I)Nombre dérivé</h2>
 <span class="red_text">Définition :</span>
  <br><span class="text">Soit a un réel et f une fonction définie sur un interval I contenant a et non réduit à a. Soit h un nombre réel qui tend vers 0 tel que (a+h) &isin; I</span>
  <ul> 
  <li>On appel <strong><u>taux de variation</u></strong> de f en a le quotient :
  <br><math><mfrac><mi>f(a+h)-f(a)</mi><mi>h</mi></mfrac></math>
  </li>
  <li>
    On dit que f est <strong><u>dérivable en a</u></strong> si la limite de : <math><mfrac><mi>f(a+h)-f(a)</mi><mi>h</mi></mfrac></math> tend vers une valeure finie.
  <br>Dans ce cas on note f'(a) cette limite et on l'appel <strong><u>nombre dérivée de f en a</u></strong>
  </li>
 </ul>
 <span class="red_text">Interprétation graphique :</span>
  <br><span class = "text">Considérons dans le plan muni d'un repère (O;<span class="vecteur"> I</span>;<span class="vecteur"> J</span>), la coubre représentative C<span class="annotation">f</span>, de la fonction f</span>
  <br><span class = "text">Soit A(a;f(a)) &isin; C<span class="annotation">f</span>, soit M &isin; C<span class="annotation">f</span> et M&ne;A, alors M a pour coordonées (a+h;f(a+h))</span>
  <ul>
  <li>
    Le taux de variation <math><mfrac><mi>f(a+h)-f(a)</mi><mi>h</mi></mfrac></math> représente le coefficient ddirecteur de la droite (AM)
  </li> 
  </ul>
  <h2 class="red_subtitle">II)Tangente</h2>
  <span class="red_text">Définition :</span>
  <br><span class="text">Si f est dérivable en a, la droite passant par A(a;f(a)) et de coefficient directeur f'(a) est appelé <strong><u>tangente à C<span class="annotation">f</span> au point A</u></strong></span>
  <br><span class="red_text">Propriété :</span>
  <br><span class="text">Soit f une fonction dérivable en a alors l'équation réduite de la tangente au point A(a;f(a)) est :</span>
  <br><span class="text">y = f(a) + f'(a)<span class = "annotation">p &#x2716; </span>(x-a)</span>
  <h2 class = "red_subtitle">Fonction dérivée :</h2>
  <span class="red_text">Définition :</span>
  <br><span class = "text">Soit f une contion dérivée sur un interval I
    <br>On dit que f est <strong><u>dérivable sur I</u></strong> si &forall;x&isin;I, f'(x) existe.
    <br>On appel alors <strong><u>fonction dérivée</u></strong> de f la fonction qui à tout nombre x&isin;I associe le nombre f'(x).
  </span>
  <br><span class="red_text">Dérivée des fonctions usuelles :</span>
</body>
</html>