<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='choose_chapter.css') }}">
</head>
<body>
 <h1 class = "title"><u>La Mathématique - Cours</u></h1>
 
 <h2 class = "subtitle"><u>Seconde :</u></h2>
     <ul class = "chapters_title">
     <li><a href="./">Chapitre 1 : 1+1 = 2? (jsp dit le moi)</a></li>
     <li><a href="./">Chapitre 2 : 2+2 = 4? </a></li>
     <li><a href="./">Chapitre 3 : 3+3 = 6? </a></li> 
     </ul>
 <h2 class = "subtitle"><u>Première :</u></h2>
     <span class = "categories">Spécialité :</span>
     <ul class = "chapters_title">
     <li><a href="./cours/premiere/suites_numeriques">Chapitre 1 : Suites numériques</a></li>
     <li><a href="./cours/premiere/polynomes_second">Chapitre 2 : Polynômes du 2nd degré</a></li>
     <li><a href="./cours/premiere/derivation">Chapitre 3 : Nombre dérivé, fonction dérivée </a></li>
     </ul>
     <span class ="categories">Enseignement scientifique :</span>
  <h2 class = "subtitle"><u>Terminale :</u></h2>
      <ul class = "chapters_title">
       <li><a href = "./cours/terminale">Chapitre 1 : 1^1 = 1?</a></li>
       <li><a href = "./cours/terminale">Chapitre 2 : 2^2 = 4?</a></li>
       <li><a href = "./cours/terminale">Chapitre 3 : 3^3 = 27?</a></li>
      </ul>
  <h2 class = "subtitle"><u>MP2I</u></h2>
      <span class = "categories">Premier semestre :</span>
      <ul class = "chapters_title">
       <li><a href = "./cours/MP2I">Chapitre 1 : Logique et raisonnements</a></li>
       <li><a href = "./cours/MP2I">Chapitre 2 : Ensembles et applications</a></li>
       <li><a href = "./cours/MP2I">Chapitre 3 : Calcul algébrique et trigonométrique</a></li>
       <li><a href = "./cours/MP2I">Chapitre 4 : Nombres complexes</a></li>
       <li><a href = "./cours/MP2I">Chapitre 5 : Systèmes linéaires</a></li>
       <li><a href = "./cours/MP2I">Chapitre 6 : Techniques fondamentales pour l'étude des fonctions</a></li>
       <li><a href = "./cours/MP2I">Chapitre 7 : Fonctions usuelles</a></li>
       <li><a href = "./cours/MP2I">Chapitre 8 : Primitives et équations différentielles</a></li>
       <li><a href = "./cours/MP2I">Chapitre 9 : Suites numériques</a></li>
       <li><a href = "./cours/MP2I">Chapitre 10 : Limite et continuité des fonctions</a></li>
       <li><a href = "./cours/MP2I">Chapitre 11 : Dérivabilité</a></li>
       <li><a href = "./cours/MP2I">Chapitre 12 : Arithmétique des entiers</a></li>
       <li><a href = "./cours/MP2I">Chapitre 13 : Structures algébriques usuelles</a></li>
       <li><a href = "./cours/MP2I">Chapitre 14 : Calcul matriciel</a></li>
       <li><a href = "./cours/MP2I">Chapitre 15 : Ploynômes et fractions rationnelles</a></li>
      </ul>
      <span class = "categories">Deuxième semestre :</span>
      <ul class = "chapters_title>
       <li><a href = "./cours/MP2I">Chapitre 1 :</a></li>
      </ul>
</body>
</html>

