<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='cours.css') }}">
</head>
<body>
 <h1 class = "title"><u>Chapitre 2 : Polynômes du 2nd degré</u></h1>
 <h2 class = "red_subtitle">Définition :</h2>
  <ul>
    <li>On appel <strong><u>fonction polynôme du second</u></strong>, toute fonction : f(x) = ax<sup>2</sup>+bx+c où (a,b,c)&isin;&Ropf;<sup>*</sup><span class = "annotation"> &#x2716; </span>&Ropf;<sup>2</sup></li>
    <li>
    <strong>a</strong> est le coefficient du terme de plus haut degré.
    <br><strong>b</strong> est le coefficient du terme de degré 1.
    <br><strong>c</strong> est le coefficient constant.
    </li>
  </ul>
  <h2 class = "red_subtitle"><u>I) Forme canonique :</u></h2>
  <ul>
  <li>f : x &#8614; ax<sup>2</sup>+bx+c, avec a &ne; 0 peut s'écrire sous forme canonique :
  <br>f(x) = a(x-α)<sup>2</sup>+β avec α = <math><mfrac><mi>-b</mi><mi>2a</mi></mfrac></math> et β = f(α) = f(<math><mfrac><mi>-b</mi><mi>2a</mi></mfrac></math>)
  </li>
  </ul>
  <h2 class = "red_subtitle"><u>II) Discriminant :</u></h2>
  <ul>
    <li>On appel <strong><u>discriminant</u></strong> de la fonction f : x &#8614; ax<sup>2</sup>+bx+c avec a &ne; 0 le réel Δ :
    <br><strong class = "border">Δ = b<sup>2</sup>-4ac</strong>
    </li><li>
      la forme canonique s'écrit alors:
      <br>f(x) = α(x+<math><mfrac><mi>-b</mi><mi>2a</mi></mfrac></math>)<sup>2</sup>-<math><mfrac><mi>Δ</mi><mi>4a</mi></mfrac></math>
    </li>  
    </ul>
    <h2 class = "red_subtitle"><u>III)Racines et factorisation éventuelle :</u></h2>
    <h2 class="red_subtitle">Définition :</h2>
    <ul>
      <li>On appel racine de la fonction polynôme f du second degré toute solution de l'équation f(x)=0</li>
    </ul>
    <h2 class = "red_subtitle">Théorème :</h2>
    <span class="text">Soit f : x &#8614; ax<sup>2</sup>+bx+c avec a &ne; 0 alors :</span>
    <ul>
      <li>
        Si <strong><u>Δ > 0</u></strong>, f admet 2 racines, x<span class = "annotation">1</span> et x<span class="annotation">2</span> avec  x<span class = "annotation">1</span> &ne; x<span class="annotation">2</span> :
        <br>x<span class="annotation">1</span> =<math><mfrac><mi>-b-sqrt(Δ)</mi><mi>2a</mi></mfrac></math> et x<span class="annotation">2</span> =<math><mfrac><mi>-b+sqrt(Δ)</mi><mi>2a</mi></mfrac></math>
        <br>Et pour tout réel x, f(x) = a(x-x<span class="annotation">1</span>)(x-x<span class="annotation">2</span>)
        <br><br>
      </li><li>
        Si <strong><u>Δ = 0</u></strong>, f admet une unique racine(dite double), x<span class = "annotation">0</span>:
        <br>x<span class="annotation">0</span> =<math><mfrac><mi>-b</mi><mi>2a</mi></mfrac></math>
        <br>Et pour tout réel x, f(x) = a(x-x<span class="annotation">0</span>)<sup>2</sup><br><br>
      </li><li>
        Si <strong><u>Δ < 0</u></strong>, f n'admet pas de racine réelle et ne peut pas être factorisé dans &Ropf;
      </li>
    </ul>
    <h2 class="red_subtitle"><u>IV) Signe de f(x) :</u></h2>
    <span class="text">Soit f : x &#8614; ax<sup>2</sup>+bx+c avec a &ne; 0 alors :</span>
    <ul>
      <li>
        Si <strong><u>Δ > 0</u></strong>, notons x<span class="annotation">1</span> et x<span class="annotation">2</span> avec x<span class="annotation">1</span> < x<span class="annotation">2</span> les racines de f.
      </li>
      <h1>Images comming soon !</h1>
      </table>
      
    </ul>
</body>
</html>

