<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='choose_chapter.css') }}">
</head>
<body>
 <h1 class = "title"><u>La Mathématique - Cours</u></h1>
 
 <h2 class = "subtitle"><u>Seconde :</u></h2>
     <ul class = "chapters_title">
     <li><a href="./">Chapitre 1 : 1+1 = 2? (jsp dit le moi)</a></li>
     <li><a href="./">Chapitre 2 : 2+2 = 4? </a></li>
     <li><a href="./">Chapitre 3 : 3+3 = 6? </a></li> 
     </ul>
 <h2 class = "subtitle"><u>Première :</u></h2>
     <span class = "categories">Spécialité :</span>
     <ul class = "chapters_title">
     <li><a href="./cours/premiere/suites_numeriques">Chapitre 1 : Suites numériques</a></li>
     <li><a href="./cours/premiere/polynomes_second">Chapitre 2 : Polynômes du 2nd degré</a></li>
     <li><a href="./cours/premiere/nombre_derive_fonction_derivee">Chapitre 3 : Nombre dérivé, fonction dérivée </a></li>
     <li><a href="./cours/premiere/application_derivation">Chapitre 4 : Applications de la dérivation</a></li>
     <li><a href="./cours/premiere/fonction_exponentielle">Chapitre 5 : La fonction exponentielle</a></li>
     <li><a href="./cours/premiere/fonction_trigonometrique">Chapitre 6 : Fonctions trigonométriques</a></li>
     <li><a href="./cours/premiere/probabilites_conditionnelles">Chapitre 7 : Probabilités conditionnelles</a></li>
     <li><a href="./cours/premiere/variables_aleatoire">Chapitre 8 : Variables aléatoires</a></li>
     <li><a href="./cours/premiere/vectoriel_scalaire">Chapitre 9 : Calcul vectoriel et produit scalaire</a></li>
     <li><a href="./cours/premiere/droites_cercles_paraboles">Chapitre 10 : Droites, cercles et paraboles</a></li>
     </ul>
     <span class ="categories">Enseignement scientifique :</span>
  <h2 class = "subtitle"><u>Terminale :</u></h2>
      <span class ="categories">Spécialité :</span>
      <ul class = "chapters_title">
       <li><a href = "./cours/terminale/limites_suites_fonctions">Chapitre 1 : Limites de suites et de fonctions</a></li>
       <li><a href = "./cours/terminale/complements_sur_les_fonctions">Chapitre 2 : Compléments sur les fonctions</a></li>
       <li><a href = "./cours/terminale/fonctions_reference">Chapitre 3 : Fonctions de référence</a></li>
       <li><a href = "./cours/terminale/suites_raisonnement_par_recurrence">Chapitre 4 : Suites et raisonnement par récurrence</a></li>
       <li><a href = "./cours/terminale/primitives_equations_differentielles">Chapitre 5 : Primitives et équations différentielles</a></li>
       <li><a href = "./cours/terminale/integration">Chapitre 6 : Intégration</a></li>
       <li><a href = "./cours/terminale/denombrement_loi_binomiale">Chapitre 7 : Dénombrement - Loi binomiale</a></li>
       <li><a href = "./cours/terminale/echantillons_loi_grands_nombres">Chapitre 8 : Echantillons, loi des grands nombres</a></li>
       <li><a href = "./cours/terminale/vecteurs_espace_produit_scalaire">Chapitre 9 : Vecteurs dans l'espace et produit scalaire</a></li>
       <li><a href = "./cours/terminale_representation_parametrique_droites_equations_plans">Chapitre 10 : Représentations paramétriques de droites et équations de plans</a></li>
      </ul>
      <span class ="categories">Maths expertes :</span>
      <ul class = "chapters_title">
        <li><a href = "./cours/terminale/nombres_complexes">Chapitre 1 : Représentations paramétriques de droites et équations de plans | Nombres complexes</a></li>
        <li><a href = "./cours/terminale/matrices_graphes">Chapitre 2 : Représentations paramétriques de droites et équations de plans | Matrices et graphes</a></li>
        <li><a href = "./cours/terminale/arithmetique">Chapitre 3 : Représentations paramétriques de droites et équations de plans | Arithmétique</a></li>
       </ul>
      <span class ="categories">Enseignement scientifique :</span>
  <h2 class = "subtitle"><u>MP2I :</u></h2>
      <span class = "categories">Premier semestre :</span>
      <ul class = "chapters_title">
       <li><a href = "./cours/MP2I/logique_raisonnements">Chapitre 1 : Logique et raisonnements</a></li>
       <li><a href = "./cours/MP2I/ensembles_applications">Chapitre 2 : Ensembles et applications</a></li>
       <li><a href = "./cours/MP2I/calcul_algebrique_trigonometrique">Chapitre 3 : Calcul algébrique et trigonométrique</a></li>
       <li><a href = "./cours/MP2I/nomres_complexe">Chapitre 4 : Nombres complexes</a></li>
       <li><a href = "./cours/MP2I/systemes_lineaires">Chapitre 5 : Systèmes linéaires</a></li>
       <li><a href = "./cours/MP2I/etude_des_fonctions">Chapitre 6 : Techniques fondamentales pour l'étude des fonctions</a></li>
       <li><a href = "./cours/MP2I/fonctions_usuelles">Chapitre 7 : Fonctions usuelles</a></li>
       <li><a href = "./cours/MP2I/primitives_equations_differentielles">Chapitre 8 : Primitives et équations différentielles</a></li>
       <li><a href = "./cours/MP2I/suites_numeriques">Chapitre 9 : Suites numériques</a></li>
       <li><a href = "./cours/MP2I/limite_continuité_des_fonctions">Chapitre 10 : Limite et continuité des fonctions</a></li>
       <li><a href = "./cours/MP2I/derivabilite">Chapitre 11 : Dérivabilité</a></li>
       <li><a href = "./cours/MP2I/arithmetique_des_entiers">Chapitre 12 : Arithmétique des entiers</a></li>
       <li><a href = "./cours/MP2I/structures_algebriques_usuelles">Chapitre 13 : Structures algébriques usuelles</a></li>
       <li><a href = "./cours/MP2I/calcul_matriciel">Chapitre 14 : Calcul matriciel</a></li>
       <li><a href = "./cours/MP2I/plynomes_fractions_rationnelles">Chapitre 15 : Polynômes et fractions rationnelles</a></li>
      </ul>
      <span class = "categories">Deuxième semestre :</span>
      <ul class = "chapters_title">
       <li><a href = "./cours/MP2I/analyse_asymptotique">Chapitre 16 : Analyse asymptotique</a></li>
       <li><a href = "./cours/MP2I/espaces_vectoriels_applications_lineaires">Chapitre 17 : Espaces vectoriels et applications linéaires</a></li>
       <li><a href = "./cours/MP2I/espaces_vectoriels_de_dimension_finie">Chapitre 18 : Espaces vectoriels de dimension finie</a></li>
       <li><a href = "./cours/MP2I/matrices_applications_lineaires">Chapitre 19 : Matrices et applications linéaires</a></li>
       <li><a href = "./cours/MP2I/determinants">Chapitre 20 : Déterminants</a></li>
       <li><a href = "./cours/MP2I/espaces_prehilbertiens_reels">Chapitre 21 : Espaces préhilbertiens réels</a></li>
       <li><a href = "./cours/MP2I/integration">Chapitre 22 : Intégration</a></li>
       <li><a href = "./cours/MP2I/series_numerique">Chapitre 23 : Séries numériques</a></li>
       <li><a href = "./cours/MP2I/familles_sommables">Chapitre 24 : Familles sommables</a></li>
       <li><a href = "./cours/MP2I/denombrement">Chapitre 25 : Dénombrement</a></li>
       <li><a href = "./cours/MP2I/probabilites_sur_univers_fini">Chapitre 26 : Probabilités sur un univers fini</a></li>
       <li><a href = "./cours/MP2I/variables_aleatoire_esperance_variance">Chapitre 27 : Variables aléatoires, espérance, variance</a></li>
       <li><a href = "./cours/MP2I/fonctions_de_deux_variables">Chapitre 28 : Fonctions de deux variables</a></li>
      </ul>
</body>
</html>

