<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='choose_chapter.css') }}">
</head>
<body>
 <h1 class = "title"><u>La Mathématique - Exercices</u></h1>
 
 <h2 class = "subtitle"><u>Seconde :</u></h2>
     <ul class = "chapters_title">
     <li><a href="./">Exercices 1 : 1+1 = 2? (jsp dit le moi)</a></li>
     <li><a href="./">Exercices 2 : 2+2 = 4? </a></li>
     <li><a href="./">Exercices 3 : 3+3 = 6? </a></li> 
     </ul>
 <h2 class = "subtitle"><u>Première :</u></h2>
     <ul class = "chapters_title">
     <li><a href="./exercices/premiere/suites_numeriques">Exercices 1 : Suites numériques</a></li>
     <li><a href="./exercices/premiere/polynomes_second">Exercices 2 : Polynôme du 2nd degré</a></li>
     <li><a href="./exercices/premiere/derivation">Exercices 3 : Nombre dérivé, fonction dérivée</a></li> 
     </ul>
</body>
</html