<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='welcome_page.css') }}">
</head>
<body>
 <h1><u>La Mathématique</u></h1>
 <h2><u>Seconde :</u></h2>
 <ul>
 <li><a href="https://thinkinfi.com/flask-adding-html-and-css/">Chapitre 1 : 1+1 = 2? (jsp dit le moi)</a></li>
 <li><a href="https://thinkinfi.com/flask-adding-html-and-css/">Chapitre 2 : 2+2 = 4? </a></li>
 <li><a href="https://thinkinfi.com/flask-adding-html-and-css/">Chapitre 3 : 3+3 = 2? </a></li>
 </ul>
 
</body>
</html>

