<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='welcome_page.css') }}">
</head>
<body>
 <h1 class = "title"><u>La Mathématique</u></h1>
 
 <h2 class = "subtitle"><u>Seconde :</u></h2>
     <ul class = "chapters_title">
     <li><a href="./1+1=2">Chapitre 1 : 1+1 = 2? (jsp dit le moi)</a></li>
     <li><a href="https://thinkinfi.com/flask-adding-html-and-css/">Chapitre 2 : 2+2 = 4? </a></li>
     <li><a href="https://thinkinfi.com/flask-adding-html-and-css/">Chapitre 3 : 3+3 = 6? </a></li> 
     </ul>
 <h2 class = "subtitle"><u>Première :</u></h2>
     <ul class = "chapters_title">
     <li><a href="./suites_numériques">Chapitre 1 :Suites numériques</a></li>
     <li><a href="https://thinkinfi.com/flask-adding-html-and-css/">Chapitre 2 : Polynôme du 2nd degré</a></li>
     <li><a href="https://thinkinfi.com/flask-adding-html-and-css/">Chapitre 3 : 3x3 = 9? </a></li> 
     </ul>

 
</body>
</html>

